.list-topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem;
}

.list-topics > li {
  max-width: 720px;
  width: 100%;
}

.topic {
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.05);
  max-width: 720px;
  width: 100%;
  background: white;
  margin-bottom: 0.5rem;
}

@media (min-width: 720px) {
main .topic:first-child:not(details) {
  margin-top: 3rem;
}
}

.topic[open] {
  margin-bottom: 1rem;
}

.header {
  color: black;
  @apply z-0 top-9 sticky shadow-sm;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.sub-list .header {
  color: white;
}

.header > *:last-child {
  margin-left: auto;
  text-align: right;
}

h2 {
  font-weight: bold;
  @apply text-lg;
}

summary.header {
  @apply text-sm;
}

details[open] summary {
  @apply bg-cyan-700 text-white sticky top-9;
}

details[open] summary .description {
  display: none;
}

.header:not(summary) {
  @apply text-white bg-cyan-700;
}

.sub-list {
  flex: 1;
  margin: 3rem 0rem 0rem 0rem;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  @apply border-t border-t-cyan-700;
  /* flex-wrap: wrap; */
  width: calc(100vw - 1rem);
  overflow-x: auto;
}

.sub-list > div {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h3 {
  @apply text-xl text-cyan-700;
  font-weight: bold;
  margin: 0.5rem 1rem;
  background: inherit;
}

details[open] summary h3 {
  @apply bg-cyan-700 text-white;
}

details {
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  overflow-wrap: wrap;
}

.sub-list li {
  margin: 0px;
  font-weight: normal;
}
.sub-list .title {
  cursor: unset !important;
}

details summary::-webkit-details-marker {
  display:none;
}

ul, li {
  margin: 0;
}
