.topic {
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.05);
  max-width: 720px;
  width: 100vw;
  background: white;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
}

.topic[open] {
  margin: 1rem 0rem;
}

.header {
  color: black;
  @apply sticky top-0;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 0.5rem;
}

.header > *:last-child {
  margin-left: auto;
  text-align: right;
}

h2 {
  font-weight: bold;
  @apply text-lg;
}

summary.header {
  @apply text-sm;
}

details[open] summary {
  border-radius: 0.5rem;
  @apply bg-cyan-700 text-white;
}

.header:not(summary) {
  @apply text-white bg-cyan-700;
}

.sub-list {
  flex: 1;
  margin: 3rem 1rem;
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  @apply border-t border-t-cyan-700;
  flex-wrap: wrap;
}

.sub-list > div {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.sub {
  cursor: pointer;
}

.sub:hover {
  text-decoration: underline;
}

.sub:not(:last-child)::after {
  content: ',';
  margin-right: 0.25rem
}

h3 {
  @apply rounded text-cyan-700 text-xl;
  font-weight: bold;
  margin: 0.5rem 1rem;
  background: inherit;
}

details[open] summary h3 {
  @apply bg-cyan-700 text-white;
}

details {
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  overflow-wrap: wrap;
}

.sub-list li {
  margin: 0px;
  font-weight: normal;
}
.sub-list .title {
  cursor: unset !important;
}

details summary::-webkit-details-marker {
  display:none;
}

body {
  padding-top: 2rem;
}