.choice {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.selected {
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 0.5rem;
}

.options {
  flex-grow: 0;
  flex-shrink: 0;
}