.choice {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0rem;
}

.choice:last-child {
  padding-bottom: 1rem;
}

.title {
  cursor: pointer;
}

.selected {
  padding: 1rem;
  padding-top: 0rem;
  font-weight: bold;
}

.selected:first-child {
   padding-top: 1rem;
}

.choice:not(.selected) {
  margin: 0.5rem 0rem;
}

.options {
  flex-grow: 0;
  flex-shrink: 0;
}

.select {
  color: rgba(0,0,0,0.5);
  cursor: pointer;
}

.header > .btn {
  @apply border border-white px-3 py-1 rounded;
}

.options .btn {
  @apply border border-black text-sm py-1 px-2;
  color: rgba(0,0,0,0.8);
}

.options .btn:first-child {
  border-radius: 0.3rem 0rem 0rem 0.3rem;
}

.options .btn:last-child {
  border-left: 0px;
  border-radius: 0rem 0.3rem 0.3rem 0rem;
}

.sub {
  
}